@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;500;600;700;800;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

div {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFFFFF;
}

.header-section-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .header-section-text {
    font-size: 25px;
  }
}

.header-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 26px;
  line-height: 41px;
  font-weight: 600;
}
@media only screen and (max-width: 768px) {
  .header-item {
    font-size: 20px;
  }
}

.normal-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.small-text {
  font-family: "Merienda", cursive;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.nav-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 600;
}

.button {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

.button-primary {
  background-color: #BED630;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  border: unset;
  border-radius: 25.5px;
  padding: 15px 30px;
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .button-primary {
    font-size: 16px;
  }
}

.text-color-1 {
  color: #2A2A2A;
}

.text-color-2 {
  color: #555555;
}

.text-color-white {
  color: #FFFFFF;
}

.text-color-primary {
  color: #BED630;
}

.bg-color-1 {
  background-color: #6B6B6B;
}

.bg-color-2 {
  background-color: #F5F5F5;
}

.bg-color-social {
  background-color: #595858;
}

.bg-primary {
  background-color: #BED630;
}

.bg-white {
  background-color: #FFFFFF;
}

.inner-padding {
  padding: 0 375px;
}
@media only screen and (max-width: 1919px) {
  .inner-padding {
    padding: 0 200px;
  }
}
@media only screen and (max-width: 768px) {
  .inner-padding {
    padding: 0 16px;
  }
}

.header {
  position: relative;
}
.header .menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 14px 0 30px;
}
@media only screen and (max-width: 768px) {
  .header .menu-nav {
    padding: 0;
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 768px) {
  .header .menu-nav .log {
    width: 30%;
  }
}
.header .menu-nav .menu-nav-box .menu-nav-list {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header .menu-nav .menu-nav-box .menu-nav-list a:hover {
  color: #BED630;
}
@media only screen and (max-width: 768px) {
  .header .menu-nav .menu-nav-box {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .header .menu-nav .icon-box {
    display: none;
  }
}
.header .menu-nav .menu-mobile {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header .menu-nav .menu-mobile {
    display: block;
  }
}
.header .menu-nav .menu-mobile .dropdown-menu {
  position: absolute;
  z-index: 2;
  left: 0;
  width: 100%;
  top: 58px;
  background: #FFFFFF;
  max-height: 0;
  transform-origin: top;
  transition: max-height 0.9s, transform 0.9s;
}
.header .menu-nav .menu-mobile .dropdown-menu .menu-nav-list {
  display: flex;
  flex-direction: column;
}
.header .menu-nav .menu-mobile .dropdown-menu .menu-nav-list .nav-text {
  padding: 5px 16px;
  color: #2A2A2A;
  border-bottom: 1px solid #b4b2b2;
}
.header .menu-nav .menu-mobile .dropdown-menu.active {
  max-height: 100vmax;
  animation: hide-scroll 0.9s backwards;
  transform: scaleY(1);
}
@keyframes hide-scroll {
  0%, 100% {
    overflow: hidden;
  }
}

.banner {
  height: 550px;
  position: relative;
}
@media only screen and (max-width: 768px) {
  .banner {
    height: 200px;
  }
}
.banner .background {
  height: 100%;
}
.banner .background img {
  height: 100%;
}
.banner .banner-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 0;
  left: 0;
}

.about {
  display: flex;
  flex-wrap: nowrap;
}
@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
  }
}
.about .about-image {
  width: 60%;
}
@media only screen and (max-width: 768px) {
  .about .about-image {
    width: 100%;
  }
}
.about .about-text {
  width: 40%;
  padding: 90px 98px 48px 60px;
}
@media only screen and (max-width: 768px) {
  .about .about-text {
    width: 100%;
    padding: 16px;
  }
}

.collection {
  padding: 94px 0 100px;
}
.collection .title-section {
  text-align: center;
}
.collection .collection-list {
  display: flex;
  gap: 50px;
  margin: 40px 0 50px;
}
@media only screen and (max-width: 768px) {
  .collection .collection-list {
    flex-direction: column;
  }
}
.collection .collection-list .collection-col {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.collection .collection-list .collection-col .collection-first-item, .collection .collection-list .collection-col .collection-item {
  position: relative;
}
.collection .collection-list .collection-col .collection-first-item .collection-item-text, .collection .collection-list .collection-col .collection-item .collection-item-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 30px;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .collection .collection-list .collection-col .collection-first-item .collection-item-text, .collection .collection-list .collection-col .collection-item .collection-item-text {
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}
.collection .collection-button {
  text-align: center;
}

.contact-us {
  padding: 100px 0;
}
.contact-us .title {
  text-align: center;
}
.contact-us .form-contact-us {
  padding: 0 150px;
  margin-top: 36px;
}
@media only screen and (max-width: 768px) {
  .contact-us .form-contact-us {
    padding: 0;
  }
}
.contact-us .form-contact-us .form-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 22px;
}
@media only screen and (max-width: 768px) {
  .contact-us .form-contact-us .form-row {
    gap: 10px;
  }
}
.contact-us .form-contact-us .form-row .col-6 {
  width: 50%;
}
.contact-us .form-contact-us .form-row .col-12 {
  width: 100%;
}
.contact-us .form-contact-us .form-row .form-group {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.contact-us .form-contact-us .form-row .form-group .form-input {
  padding: 12px 15px;
  border: unset;
  border-radius: 4px;
}
.contact-us .form-contact-us .form-row .form-group .form-input::-moz-placeholder {
  color: #BCBCBC;
}
.contact-us .form-contact-us .form-row .form-group .form-input::placeholder {
  color: #BCBCBC;
}
.contact-us .form-contact-us .form-row .form-group .form-input::-webkit-input-placeholder { /* Edge */
  color: #BCBCBC;
}
.contact-us .form-contact-us .Suburb .Suburb-title {
  margin-bottom: 26px;
}
.contact-us .form-contact-us .Suburb .form-group-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
@media only screen and (max-width: 768px) {
  .contact-us .form-contact-us .Suburb .form-group-radio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: left;
  }
}
.contact-us .form-contact-us .Suburb .form-group-radio .form-radio-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: nowrap;
  align-items: center;
}
.contact-us .form-contact-us .Suburb .form-group-radio .form-radio-item .input-radio {
  accent-color: #6ca30d;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.contact-us .form-contact-us .Suburb .form-group-radio .form-radio-item .label-radio {
  cursor: pointer;
  color: #707070;
}
.contact-us .form-contact-us .form-button {
  text-align: center;
  margin: 30px 0;
}

.footer {
  padding: 54px 0;
}
.footer .footer-content {
  display: grid;
  grid-template-columns: 40% 25% 35%;
}
@media only screen and (max-width: 768px) {
  .footer .footer-content {
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
  }
}
.footer .footer-content .footer-logo {
  display: flex;
  justify-content: left;
}
@media only screen and (max-width: 768px) {
  .footer .footer-content .footer-logo {
    grid-area: 1/span 3;
    justify-content: center;
  }
}
.footer .footer-content .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.footer .footer-content .logo .logo-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .footer-content .logo .logo-image p {
  text-align: center;
}
.footer .footer-content .logo .social-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
.footer .footer-content .logo .social-list .social-item {
  border-radius: 50%;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 40px;
}
.footer .footer-content .footer-menu {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */